* {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', Times, serif;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    background: #4aa9fb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newTaskForm {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.formInput {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
    font-size: 2rem;
}

#newTask {
    background: #677681;
    border-radius: 0.5em;
    color: white;
    font-size: 1rem;
}

.button {
    background: #aeff00;
    font-size: 1rem;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: #83c000;
}

.delButton {
    background: #fe5353;
}

.delButton:hover,
.delButton:focus {
    background: #ff0000;
}

.listHeader {
    font-size: 2.25rem;
    margin: 0.5em 0;
}

.list {
    list-style-type: none;
    padding-left: 1.25em;
    margin-top: 0;
}

.list li {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
}

.list li label {
    margin-right: 0.5em;
    font-size: 1.5rem;
    cursor: pointer;
    /*new */
    display: flex;
    gap: 0.25rem;
    align-items: center
}

.list li input {
    outline: none;
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
}

.list li label::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 0.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #677681;
}

.list li label:hover::before {
    background: #87929a;
}

.list li:has(input:checked) label::before {
    content: "✔";
    background: #aeff00;
    font-weight: bold;
}

.list li:has(input:checked) label {
    text-decoration: line-through;
}

.list li:has(input:checked) label:hover::before {
    background: #91d302;
}